@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DresdenElektronik';
  src: url('/fonts/DresdenElektronik/Dresden_Elektronik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.scroll-snap-x-mandatory {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 640px) {
  .scroll-snap-x-mandatory {
    scroll-padding-left: 2rem;
    scroll-padding-right: 2rem;
  }
}

/* Fade-in animation on scroll */
.appear {
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  transform: none;
}

/* Fade-in background animation on scroll */
@keyframes fade_in_bg {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in_modal {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade_bg.show {
  animation: fade_in_bg 0.3s ease-in-out;
}

.fade_modal {
  animation: fade_in_modal 1.5s ease-in-out;
}

.no_transition {
  transition: none !important;
}

.core_input button {
  transform: scale(1) !important;
}

.perfect_area .blur_area {
  display: none !important;
}

.perfect_area .bg_area {
  opacity: 1 !important;
}

.perfect_area * {
  transition: none !important;
}

.perfect_area div {
  color: white !important;
}

.perfect_area .footer {
  display: none;
}

.perfect_area .light {
  color: #6f6f6f !important;
}

.perfect_area .highlight {
  color: #916fe2 !important;
}

.perfect_area .dark_logo {
  display: none !important;
}

.perfect_area .light_logo {
  display: block !important;
}

.no_typecursor .Typewriter__cursor {
  display: none;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.twitter-tweet {
  margin: 0 auto !important;
  width: 100vw !important;
}
* {
  box-sizing: border-box;
}
